@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');


.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }



  /* shared style  */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    background-color:rgb(17, 17, 17);
    background-repeat: no-repeat;
    margin: 5% auto;
}

#komla{
    background: rgb(230, 83, 60);;
}
#hid{
  visibility: hidden;
}
  /* shared style  */

  /* navbar style start */
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar h2{
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 800 ;

  }
  .nav-items{
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    
  }
  .nav-icon{
    width: 5%;
  }
  #hid{
    color: white;
    height: 1.5em;
    margin-left: 5px;
    visibility: hidden;
  }
  .div{
    display: flex;
    align-items: center;
    
  }
  .navbar ul{
    display: flex;
    justify-content: space-around;
  }
  .navbar ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;
  }
  .komla{
    padding: 10%;
    border-radius: 35px;
  }
  /* navbar style end */

  /* header body  */
  .shape {
    font-family: "Playwrite VN", cursive;
    font-optical-sizing: 5px;
    font-weight: 400;
    font-style: normal;
  }
  
  .header-body{
    display: flex;
    justify-content: space-between;
  }
  .header-body .head-content{
    margin-top: 8%;
  }
  .head-content h1{
    color: white;
    font-size: 4rem;
  }
  .head-content p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
  }
  .head-content .header-btn{
    border-radius: 42%;
    padding: 16px 40px 16px 40px;
    margin-top: 8%;
    border: none;
    margin-left: 4%;
  }
  .head-img{
    margin-top: 2%;
    margin-right: 4%;
    display: flex;
    background-image: url(images/Images\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    height: 550px;
  }
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background: rgb(230, 83, 60);
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle #play-btn{
    color: white;
    visibility: hidden;
  }

  .three{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  align-items: center;
  gap: 4%;
  margin-top: 400px;
  margin-right: 80px;
  }
  .three h1, .five h1{
    color: white;
  }
  .three p , .five p{
    color: whitesmoke;
  }
  .five{
    width: 206px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
  }
  /* header body end */

  /* habit section start  */
 
  
  .habit-content{
    text-align: center;
  }
  .habit-content h1{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  .habit-content p{
    margin-top: 2%;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .habit-img-container{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .habit-img-container img{
    border-radius: 50%;
    border:2px dotted white;
  }
  .img-description{
    text-align: center;
    
  }
  .img-description h5{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
   margin-top: 5%;
  }
  .habit-part .img-description p{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
  } 
  /* habit section end */

  /* running part start */
  .running-part{
    margin-top: 80px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
  }
  .running-content{
    margin: 2%;
    width: 40%;
  }
  .running-part h2{
    font-size: 3rem;
    color: white;
  }
  .running-part p{
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
  }
  .running-content button{
    width: 40%;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
  }
  .running-img{
    margin:2%;
    width: 40%;
    border-radius: 5%;
    background-image: url(images/run.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  /* running part END */

  /* bmi part :start */
  .bmi-div{
    margin-top: 5%;
  }
  .bmi-caption h1{
    color: white;
    text-align: center;
    font-size: 3rem;
  }
  .bmi-caption p{
    margin-top: 1%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    text-align: center;
  }
  .table-form{
    background:  rgb(34, 34, 34);
    padding: 5%;
    margin-top: 5%;
  }
  .table-div h3{
    color: white;
    margin-bottom: 4%;
    font-size: 1rem;
  }
  .table-div thead td{
    color: white;
    padding: 2%;
  }
  .table-div tbody td{
    color: rgba(255, 255, 255, 0.5);
    padding: 2%;
  }
  .table-div td{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .table-div table{
    border-collapse:collapse ;
  }

  .table-form{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .table-form p{
    color: rgba(255, 255, 255, 0.5);
  }
  .bmi-div h3,h4{
    margin-bottom: 4%;
    font-size: 2rem;
    color: white;
  }
  .table-form input{
    margin-top: 3%;
    padding: 1%;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
  }
  .table-form .select1{
    width: 177.72px;
    padding: 1%;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
color: rgba(255, 255, 255, 0.6);
  }
  .table-form .select2{
    padding: 1%;
    width: 360px;
    margin-top: 3%;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
color: rgba(255, 255, 255, 0.6);
  }
  ::placeholder{
   color: rgba(255, 255, 255, 0.6);
  }
  .table-form button{
    border-radius: 42px;
background: rgb(230, 83, 60);
color: white;
width: 130px;
height: 30px;
margin-top: 5%;
border: none;
  }
  /* bmi part :end */

/* team part start  */
.team-div{
margin-top: 5%;
margin-bottom: 5%;
}
.team-caption h1{
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.team-caption p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
}
.team-pictures{
  border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
margin-top: 5%;
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 2%;
padding: 2%;
}
.team-pictures .img-div{
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.trainer-one{
  background: rgba(0, 0, 0, 0.2);
  background-image:url(images/trainer1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  
}
.trainer-two{
  background: rgba(0, 0, 0, 0.2);
  background-image:url(images/trainer2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.trainer-three{
  background: rgba(0, 0, 0, 0.2);
  background-image: url(images/trainer3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.trainer-four{
  background: rgba(0, 0, 0, 0.2);
  background-image: url(images/trainer4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.trainer-five{
  background: rgba(0, 0, 0, 0.2);
  background-image: url(images/trainer5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.trainer-six{
  background: rgba(0, 0, 0, 0.2);
  background-image: url(images/trainer6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}
.img-div h4{
  margin-top: 87%;
  color: white;
}
.img-div p{
  color: rgba(255, 255, 255, 0.5);
}
.img-div p,h4{
  margin-left: 4%;
}
/* team part end */


  /* footer part :start */
  .footer-part{
    margin-top: 6%;
    padding: 3%;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer-content{
    display: flex;
    justify-content: space-evenly;
  }
  .footer-part p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin: 5%;
  }
  .footer-part h2{
    margin-bottom: 10%;
    color: white;
    font-size: 1.8rem;
  }
  .footer-part h1{
    color: rgb(230, 83, 60);
    font-size: 3rem;
  }
  .footer-fitdiv{
    width: 30%;
  }
  .footer-part .mid-foot{
    text-align: center;
  }
  
  /* footer part :end */
  
  /* media query  */
   @media screen and (max-width: 576px) {
    .nav-items{
        display: none;   
    }
    #hid{
      visibility: visible;
    }
    .header-body{
      flex-direction: column;
    }
    .head-content h1{
      font-size: 2rem;
    }
    .btn-div{
      display: flex;
      row-gap: 10px;
    }
    .head-img{
      width: 100%;
      margin-top: 20px;
    }
    .circle #play-btn{
      visibility: visible;
    }
    .habit-img-container{
      flex-direction: column;
    }
    .habit-img-container p{
      margin-bottom: 10px;
    }
    .habit-content h1{
      font-size: 1.5rem;
      margin-top: 10px;
    }
    
    .running-part{
      flex-direction: column;
    }
    .running-content{
      width: 100%;
    }
    .running-img{
      margin-top: 5%;
      height: 500px;
      width: 327px;
      
    }
    .running-content button{
      margin-top: 3%;
      width: 90%; 
    }
    .running-part p{
      font-size: 0.8rem;
    }
    .table-form{
      flex-direction: column;
    }
    .table-form .select1{
      margin-top: 3%;
    }
    .table-form .select2{
      width: 250px;
    }
    .team-pictures{
      grid-template-columns: repeat(1,1FR);
      gap: 0.4%;
      height: 2200px;
    }
    .footer-content{
      flex-direction: column;
    }
    .footer-fitdiv{
      width: 100%;
    }
    .footer-content h2{
      margin-bottom: 5%;
    }
   }

   @media screen and (min-width:992px) {
    .head-content .btn-div{
      display: flex;
    }
    .head-img{
      height: 700px;
    }
    
   }
  